/* Navbar.css */
nav {
    background-color: #0077b5;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  