/* Reset some default styles */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

/* Set background color and font family */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  background-image: url('socialpics/pexels-bg-edit_bb4znx.jpg'); /* Add the correct image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-impact-content {
  padding: 20px;
  max-width: 800px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
}

.text-block {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 20px;
  color: #0077b5;
}

.main-title {
  font-size: 28px;
  color: #333;
}

.section-title {
  font-size: 24px;
  color: #333;
}

.section-text {
  font-size: 16px;
  color: #777;
}

.logos img {
  max-width: 150px; /* Adjust the max width as needed */
  max-height: 150px; /* Adjust the max height as needed */
  display: none; /* Hide the actual image element */
}

/* Style each individual logo */
.logos:nth-child(1) {
  background-image: url('socialpics/ms-adc_y96dms.jpg');
}

.logos:nth-child(2) {
  background-image: url('socialpics/Spotlights_7_pplnvm.jpg');
}

.logos:nth-child(3) {
  background-image: url('socialpics/Kenya_Scouts_Association_kcoka5.svg');
}

.logos:nth-child(4) {
  background-image: url('socialpics/wwf-4-logo-png-transparent_tbkfcq.png');
}

.logos:nth-child(5) {
  background-image: url('socialpics/vvob-logo_qyvjbp.jpg');
}

.logos:nth-child(6) {
  background-image: url('socialpics/farmbetter-logo_x2acda.png');
}

.logos:nth-child(7) {
  background-image: url('socialpics/it_volk_black_logo_image_iowrws.png');
}

.logos:nth-child(8) {
  background-image: url('socialpics/hoplit-logo_nsryy7.webp');
}

.logos:nth-child(9) {
  background-image: url('socialpics/2017-GIZ-Logo_htdnpa.png');
}

.logos:nth-child(10) {
  background-image: url('socialpics/Enabel-logo_afiel7.png');
}

.logos:nth-child(11) {
  background-image: url('socialpics/syndicyourself_logfo_qiqrex.png');
}


/* Add similar lines for the other logos, incrementing the number accordingly */
/* Include background-image for each logo and adjust max-width and max-height */

/* Hover effect for logos */
.logos:hover {
  transform: scale(1.1); /* Increase size on hover */
}
